body {
    display: flex;
    justify-content: center;
}

.grade {
    width: 400px;
    height: 600px;
    background-image: url("imagens/background.png");
    position: relative;
    font-size: 100px;
    text-align: center;
    top: 30px;
}

.boneco {
    width: 89px;
    height: 85px;
    position: absolute;
}

.plataforma {
    width: 89px;
    height: 23px;
    background-image: url("imagens/green_platform.png");
    background-repeat: no-repeat;
    position: absolute;
}

.score {
    position: absolute;
    top: -5px;
    font-size: 40px;
    color: white;
    width: 400px;
    text-align: center;
    background-color: #f1e8de;
}